<head>
    <%= stylesheet_link_tag 'homepage' %>

    <script>
        function deleteRaduno(radunoId) {
            if (confirm("Sei sicuro di voler eliminare questo raduno?")) {
            // Se l'utente conferma, esegui l'azione di eliminazione
            fetch("/radunos/" + radunoId, {
                method: "DELETE",
                headers: {
                "X-CSRF-Token": "<%= form_authenticity_token %>",
                "Content-Type": "application/json",
                "Accept": "application/json"
                }
            })
            .then(response => {
                if (response.ok) {
                    // Il raduno è stato eliminato con successo, aggiorna la pagina o esegui altre azioni necessarie
                    window.location.reload();
                } 
                else {
                    // Gestisci eventuali errori durante l'eliminazione del raduno
                    console.error("Errore durante l'eliminazione del raduno");
                }
                })
                .catch(error => {
                    console.error("Errore durante l'eliminazione del raduno", error);
                });
            }
        }

        function partecipaRaduno() {
            // Copia il contenuto del raduno
            var artista = document.querySelector('.box p:nth-of-type(1)').textContent;
            var descrizione = document.querySelector('.box p:nth-of-type(2)').textContent;
            var data = document.querySelector('.box p:nth-of-type(3)').textContent;
            var orario = document.querySelector('.box p:nth-of-type(4)').textContent;
            var luogo = document.querySelector('.box p:nth-of-type(5)').textContent;
            
            // Crea un nuovo elemento div
            var nuovoRaduno = document.createElement('div');
            nuovoRaduno.className = 'grid-item';
            
            // Crea il contenuto del nuovo elemento div
            var intestazione = document.createElement('div');
            intestazione.className = 'intestazione';
            
            // Crea un nuovo elemento p per ogni informazione del raduno
            var artistaElement = document.createElement('p');
            artistaElement.textContent = artista;
            
            var descrizioneElement = document.createElement('p');
            descrizioneElement.textContent = descrizione;
            
            var dataElement = document.createElement('p');
            dataElement.textContent = data;
            
            var orarioElement = document.createElement('p');
            orarioElement.textContent = orario;
            
            var luogoElement = document.createElement('p');
            luogoElement.textContent = luogo;
            
            // Aggiungi gli elementi p al nuovo elemento div
            nuovoRaduno.appendChild(intestazione);
            nuovoRaduno.appendChild(artistaElement);
            nuovoRaduno.appendChild(descrizioneElement);
            nuovoRaduno.appendChild(dataElement);
            nuovoRaduno.appendChild(orarioElement);
            nuovoRaduno.appendChild(luogoElement);

            // Inserisci il nuovo elemento div nella pagina
            var elemento1 = document.getElementById('elem1');
            elemento1.appendChild(nuovoRaduno);
        }

    </script>

</head>

<body>
    <header>

        <div class="nome-logout">
            <div class="nome">
                <h1>Ciao <%= @user.nome %></h1>
            </div>

            <% if user_signed_in? %>
                <div class="bottone" id="logout">
                    <%= link_to 'Logout', destroy_user_session_path, :method => :delete%>
                </div>
            <% end %>
        </div>

        <div class="titolo">
            <h1>EventListener</h1>
        </div>

        <% if current_user.status=='Artista' %>
            <button class="funzioni-btn" id="crea" onclick="location.href='<%= new_raduno_path %>'">Crea Raduno</button>
        <% else %>
            <button disabled>Crea Raduno</button>
        <% end %>

    </header>

    <div class="grid-container" id="colonne">
        <div class="grid-item">
            <div class="intestazione">Fan di:</div>
                <% if @fan.present? %>
                    <% @fan.each do |fan| %>
                        <div class="box">
                            <p><%= fan %></p>
                        </div>
                    <% end %>
                <% else %>
                    <p>Non sei Fan di nessun artista</p>
                <% end %>
        </div>
        <div class="grid-item">
            <div class="intestazione">Raduni:</div>
            <% if Raduno.any? %>
                <% Raduno.all.each do |raduno| %>
                    <div class="box" id="raduni">
                        <p>Artista: <%= raduno.nome_darte_organizzatore %></p>
                        <p>Descrizione: <%= raduno.descrizione %></p>
                        <p>Data: <%= raduno.data %></p>
                        <p>Orario: <%= raduno.orario.strftime("%H:%M") %></p>
                        <p>Luogo: <%= raduno.luogo %></p>
                        <div class="funzioni">
                            <% if raduno.email == current_user.email %>
                                <button class="funzioni-btn" disabled>Partecipa</button>
                            <% else %>
                                <button class="funzioni-btn" onclick="partecipaRaduno()">Partecipa</button>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <p>Nessun raduno presente</p>
            <% end %>
        </div>
        <div class="grid-container" id="righe">
            <div class="grid-item" id="elem1">
                <div class="intestazione">Raduni a cui partecipi:</div>
            </div>
            <div class="grid-item" id="elem2">
                <div class="intestazione">Raduni creati:</div>
                    <!--implementare la verifiche di utente=artista-->
                    <% if Raduno.any? %>
                        <% Raduno.all.each do |raduno| %>
                            <% if raduno.email == current_user.email %>
                                <div class="box" id="raduni">
                                    <p>Descrizione: <%= raduno.descrizione %></p>
                                    <p>Data: <%= raduno.data %></p>
                                    <p>Orario: <%= raduno.orario.strftime("%H:%M") %></p>
                                    <p>Luogo: <%= raduno.luogo %></p>
                                    <div class="funzioni">
                                        <button class="funzioni-btn" onclick="location.href='<%= edit_raduno_path(raduno) %>'">Modifica</button>
                                        <button class="funzioni-btn" onclick="deleteRaduno(<%= raduno.id %>)">Elimina</button>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    <% else %>
                        <p>Nessun raduno presente</p>
                    <% end %>
                </div>

        </div>
    </div>

</body>
