<%= stylesheet_link_tag 'form' %>

<%= form_with(model: raduno) do |form| %>
  <% if raduno.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(raduno.errors.count, "error") %> prohibited this raduno from being saved:</h2>

      <ul>
        <% raduno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="centro">

    <div class="field">
      <%= form.label :descrizione, style: "display: block" %>
      <%= form.text_field :descrizione, class: "testo" %>
    </div>

    <div class="field">
      <%= form.label :luogo, style: "display: block" %>
      <%= form.text_field :luogo, class: "testo" %>
    </div>

    <div class="field">
      <%= form.label :data, style: "display: block" %>
      <%= form.date_field :data %>
    </div>

    <div class="field">
      <%= form.label :orario, style: "display: block" %>
      <%= form.time_field :orario %>
    </div>

    <div class="field" style="display: none">
      <%= form.label :nome_darte_organizzatore, style: "display: block" %>
      <%= form.text_field :nome_darte_organizzatore, value: current_user.name %>
    </div>

    <div class="field" style="display: none">
      <%= form.label :email, style: "display: block" %>
      <%= form.text_field :email, value: current_user.email %>
    </div>

    <br>

    <div class="field">
      <%= form.submit 'Crea Raduno' %>
    </div>
  <div>
<% end %>
