<div id="<%= dom_id raduno %>">

  <p>
    <strong>Nome darte organizzatore:</strong>
    <%= raduno.nome_darte_organizzatore %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= raduno.descrizione %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= raduno.data %>
  </p>

  <p>
    <strong>Orario:</strong>
    <%= raduno.orario %>
  </p>

  <p>
    <strong>Luogo:</strong>
    <%= raduno.luogo %>
  </p>

</div>
