<p style="color: green"><%= notice %></p>

<%= render @raduno %>

<div>
  <%= link_to "Edit this raduno", edit_raduno_path(@raduno) %> |
  <%= link_to "Back to radunos", radunos_path %>

  <%= button_to "Destroy this raduno", @raduno, method: :delete %>
</div>
