<%= stylesheet_link_tag 'form' %>

<p class="t">EventListener</p>
<h1>Sign up</h1>

<% if @user.provider.blank? %>
  <!--<%= label :spotify, "Collega il tuo account Spotify" %><br />-->
  <%= button_to image_tag("Spotify_Logo_RGB_Green.png", size: "310x90"),
          user_spotify_omniauth_authorize_path(show_dialog: true),
          data: { turbo: false },
          class: "spotify",
          id: "nero"%>
<% else %>
  <%= label :spotify, "Account collegato con successo!" %><br />
  <%= button_to image_tag("Spotify_Logo_RGB_Black.png", size: "236x61"),
          user_spotify_omniauth_authorize_path(show_dialog: true),
          data: { turbo: false },
          class: "spotify",
          id: "verde"%>
<% end %>
<%# gradiant chosed by Spotify rules, sorry, (https://developer.spotify.com/documentation/design#using-our-colors)%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
	<%= csrf_meta_tags %>

  <div class="centro">
    <div class="field" style="display: none" >
      <%= f.label :provider %><br />
      <%= f.text_field :provider, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.provider, readonly: true, class: "testo" %>
    </div>

    <div class="field" style="display: none" >
      <%= f.label :uid %><br />
      <%= f.text_field :uid, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.uid, readonly: true, class: "testo" %>
    </div>

    <div class="field" style="display: none" >
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.name, readonly: true, class: "testo" %>
    </div>

    <div class="field" style="display: none" >
      <%= f.label :image %><br />
      <%= f.text_field :image, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.image, readonly: true, class: "testo" %>
    </div>

    <div class="field" style="display: none">
      <%= f.label :is_artist %><br />
      <%= f.text_field :is_artist, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.is_artist, readonly: true, class: "testo" %>
    </div>

    <div class="field" style="display: none">
      <%= f.label :artist0 %><br />
      <%= f.text_field :artist0, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.artist0, readonly: true %>
    </div>

    <div class="field" style="display: none">
      <%= f.label :image0 %><br />
      <%= f.text_field :image0, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.image0, readonly: true %>
    </div>

    <div class="field" style="display: none">
      <%= f.label :artist1 %><br />
      <%= f.text_field :artist1, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.artist1, readonly: true %>
    </div>

    <div class="field" style="display: none">
      <%= f.label :image1 %><br />
      <%= f.text_field :image1, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.image1, readonly: true %>
    </div>

    <div class="field" style="display: none">
      <%= f.label :artist2 %><br />
      <%= f.text_field :artist2, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.artist2, readonly: true %>
    </div>

    <div class="field" style="display: none">
      <%= f.label :image2 %><br />
      <%= f.text_field :image2, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.image2, readonly: true %>
    </div>

    <div class="field" style="display: none">
      <%= f.label :artist3 %><br />
      <%= f.text_field :artist3, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.artist3, readonly: true %>
    </div>

    <div class="field" style="display: none">
      <%= f.label :image3 %><br />
      <%= f.text_field :image3, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.image3, readonly: true %>
    </div>

    <div class="field" style="display: none">
      <%= f.label :artist4 %><br />
      <%= f.text_field :artist4, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.artist4, readonly: true %>
    </div>

    <div class="field" style="display: none">
      <%= f.label :image4 %><br />
      <%= f.text_field :image4, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.image4, readonly: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, value: @user.email, class: "testo" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>cm,1m,1cs,1n)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", required: true, class: "testo" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "testo" %>
    </div>
    <p><small><sub>Per la gestione della password consigliamo un <a href="https://bitwarden.com/" target="_blank">password manager</a></sub></small></p>


    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>

    <%= render "devise/shared/links" %>
  </div>
<% end %>
