<%= stylesheet_link_tag 'signup' %>

<p class="t">EventListener</p>
<h1>Sign up</h1>

<%= label :spotify, "Collega il tuo account Spotify" %><br />
<%= button_to image_tag("Spotify_Logo_RGB_White.png", size: "236x61"),
        user_spotify_omniauth_authorize_path,
	data: { turbo: false },
	style: "background: rgba(30,215,96,0.85);
			border: none;
			padding: 5px;
			border-radius: 10px;
			overflow: hidden;
			"%>
<%# gradiant chosed by Spotify rules, sorry, (https://developer.spotify.com/documentation/design#using-our-colors)%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
	<%= csrf_meta_tags %>

  <div class="centro">

    <div class="field" style="display: none" >
      <%= f.label :provider %><br />
      <%= f.text_field :provider, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.provider %>
    </div>

    <div class="field" style="display: none" >
      <%= f.label :uid %><br />
      <%= f.text_field :uid, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.uid %>
    </div>

    <div class="field">
      <%= f.label :nome %><br />
      <%= f.text_field :nome, autofocus: true, autocomplete: "nome", maxlength: 20, required: true %>
    </div>

    <div class="field">
      <%= f.label :cognome %><br />
      <%= f.text_field :cognome, autofocus: true, autocomplete: "cognome", maxlength: 20, required: true %>
    </div>

    <div class="field">
      <%= f.label :data_di_nascita %><br />
      <%= f.date_field :data_di_nascita, autofocus: true, autocomplete: "data_di_nascita", required: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>cm,1m,1cs,1n)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", required: true %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
