<%= stylesheet_link_tag 'signup' %>

<p class="t">EventListener</p>
<h1>Sign up</h1>

<% if @user.provider.blank? %>
  <%= label :spotify, "Collega il tuo account Spotify" %><br />
  <%= button_to image_tag("Spotify_Logo_RGB_Green.png", size: "236x61"),
          user_spotify_omniauth_authorize_path(show_dialog: true),
          data: { turbo: false },
          style: "background: #191414;
                          border: none;
                          padding: 5px;
                          border-radius: 10px;
                          overflow: hidden;
                          "%>
<% else %>
  <%= label :spotify, "Account collegato con successo!" %><br />
  <%= button_to image_tag("Spotify_Logo_RGB_Black.png", size: "236x61"),
          user_spotify_omniauth_authorize_path(show_dialog: true),
          data: { turbo: false },
          style: "background: #1DB954;
                          border: none;
                          padding: 5px;
                          border-radius: 10px;
                          overflow: hidden;
                          "%>
<% end %>
<%# gradiant chosed by Spotify rules, sorry, (https://developer.spotify.com/documentation/design#using-our-colors)%>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
	<%= csrf_meta_tags %>

  <div class="centro">

    <%# TO BE HIDDEN %>
    <div class="field" <%#style="display: none"%> >
      <%= f.label :provider %><br />
      <%= f.text_field :provider, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.provider, readonly: true %>
    </div>

    <%# TO BE HIDDEN %>
    <div class="field" <%#style="display: none"%> >
      <%= f.label :uid %><br />
      <%= f.text_field :uid, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.uid, readonly: true %>
    </div>

    <%# TO BE HIDDEN %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.name, readonly: true %>
    </div>

    <%# TO BE HIDDEN %>
    <div class="field">
      <%= f.label :image %><br />
      <%= f.text_field :image, autofocus: true, autocomplete: "nome", maxlength: 20, required: true, value: @user.image, readonly: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, value: @user.email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>cm,1m,1cs,1n)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", required: true %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
    </div>
    <p><small><sub>Per la gestione in sicurezza della password consigliamo di utilizzare un <a href="https://bitwarden.com/" target="_blank">password manager</a></sub></small></p>


    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
