<head>
    <%= stylesheet_link_tag 'homepage' %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>        
        function deleteEvento(eventsId) {
            if (confirm("Sei sicuro di non voler più partecipare a questo raduno?")) {
            fetch("/events/" + eventsId, {
                method: "DELETE",
                headers: {
                "X-CSRF-Token": "<%= form_authenticity_token %>",
                "Content-Type": "application/json",
                "Accept": "application/json"
                }
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                } 
                else {
                    console.error("Errore durante l'eliminazione del raduno");
                }
                })
                .catch(error => {
                    console.error("Errore durante l'eliminazione del raduno", error);
                });
            }
        }

        function deleteRaduno(radunoId) {
            if (confirm("Sei sicuro di voler eliminare questo raduno?")) {
            fetch("/radunos/" + radunoId, {
                method: "DELETE",
                headers: {
                "X-CSRF-Token": "<%= form_authenticity_token %>",
                "Content-Type": "application/json",
                "Accept": "application/json"
                }
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                } 
                else {
                    console.error("Errore durante l'eliminazione del raduno");
                }
                })
                .catch(error => {
                    console.error("Errore durante l'eliminazione del raduno", error);
                });
            }
        }
    </script>
</head>

<body>
    <header>
        <div class="grid-containerh">
            <div class="grid-itemh">
              <div class="profilo">
                <img src="<%= @user.image %>">
                <span>Ciao <%= @user.uid %></span>
              </div>

            </div>
            <div class="grid-itemh">
                <div class="titolo">Event Listener</div>
            </div>
            <div class="grid-itemh" id="num3">
                <% if current_user.status=='Artista' %>
                    <%= link_to 'Crea Raduno', new_raduno_path, class: 'funzioni-btn' %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <% else %>
                    <%= link_to 'Crea Raduno', new_raduno_path, class: 'disabled-link' %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <% end %>
                <% if user_signed_in? %>
                    <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'funzioni-btn' %>
                <% end %>
            </div>
        </div>

    </header>

    <div class="grid-container" id="colonne">
        <div class="grid-item">
            <div class="intestazione">Fan di</div>
            <% if current_user.status != "Listener" %>
                <% user = User.find_by(email: current_user.email) %>
                <% (0..4).each do |i| %>
                    <% artist_field = "artist#{i}" %>
                    <% artist_value = user.send(artist_field) %>
                    <% if artist_value!=nil %>
                        <div class="box" id="fan">
                            <p><%= artist_value %></p>
                        </div>
                    <% else %>
                        <% next %>
                    <% end %>
                <% end %>
            <% else %>
                <div class="vuoto">
                    <p class="default">Non sei Fan di nessun Artista</p>
                </div>
            <% end %>
        </div>
        <div class="grid-item">
            <div class="intestazione">Raduni</div>
            <% user = User.find_by(email: current_user.email) %>
            <% user.update(status: "Artista") %>
            <% user.update(artist0: "Francesco") %>
            <% user.update(artist1: "Marco") %>
            <% user.update(artist2: "Giovanni") %>
            <% user.update(artist3: "Simone") %>
            <% user.update(artist4: nil) %>
            <% if Raduno.any? %>
                <% artists_array = [] %>
                <% (0..4).each do |i| %>
                    <% artist_field = "artist#{i}" %>
                    <% artist_value = user.send(artist_field) %>
                    <% artists_array.push(artist_value) %>
                <% end %>
                <% div_added = false %>
                <% artists_array.each do |artist_value| %>
                    <% raduni_corrispondenti = Raduno.where(nome_darte_organizzatore: artist_value) %>
                    <% raduni_corrispondenti.each do |raduno| %>
                        <% if raduno.email==current_user.email %>
                            <% next %>
                        <% else %>
                            <% div_added = true %>
                            <div class="box" id="raduni">
                                <p>Artista: <%= raduno.nome_darte_organizzatore %></p>
                                <p>Descrizione: <%= raduno.descrizione %></p>
                                <p>Data: <%= raduno.data %></p>
                                <p>Orario: <%= raduno.orario.strftime("%H:%M") %></p>
                                <p>Luogo: <%= raduno.luogo %></p>
                                <div class="funzioni">
                                    <% if Event.any? && current_user.email==Event.find_by(id_raduno: raduno.id)&.email_partecipante %>
                                        <!--<%= link_to 'Partecipa', new_raduno_path, class: 'disabled-link', id: 'partecipa_'+raduno.id.to_s %>-->
                                        <button class="funzioni-btn" id="partecipa_<%= raduno.id %>" disabled>Partecipa</button>
                                    <% else %>
                                        <%= link_to 'Partecipa', new_event_path(id_raduno: raduno.id), class: 'funzioni-btn', id: 'partecipa_'+raduno.id.to_s %>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                <% end %>
                <% unless div_added %>
                    <div class="vuoto">
                        <p class="default">Non puoi partecipare a nessun raduno</p>
                    </div>
                <% end %>
            <% else %>
                <div class="vuoto">
                    <p class="default">Nessun raduno presente</p>
                </div>
            <% end %>
        </div>
        <div class="grid-container" id="righe">
            <div class="grid-item" id="elem1">
                <div class="intestazione">Raduni a cui partecipi</div>
                <% if Event.any? && Raduno.any? %>
                    <% Event.all.each do |evento| %>
                        <% if current_user.email==evento.email_partecipante %>
                            <% raduno = Raduno.find(evento.id_raduno) %>
                            <div class="box" id="raduni">
                                <p>Artista: <%= raduno.nome_darte_organizzatore %></p>
                                <p>Descrizione: <%= raduno.descrizione %></p>
                                <p>Data: <%= raduno.data %></p>
                                <p>Orario: <%= raduno.orario.strftime("%H:%M") %></p>
                                <p>Luogo: <%= raduno.luogo %></p>
                                <div class="funzioni">
                                    <button class="funzioni-btn" onclick="deleteEvento(<%= evento.id %>)">Annulla iscrizione</button>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                <% else %>
                    <div class="vuoto">
                        <p class="default">Non partecipi a nessun raduno</p>
                    </div>
                <% end %>
            </div>
            <div class="grid-item" id="elem2">
                <div class="intestazione">Raduni creati</div>
                <% if current_user.status=="Artista" %>
                    <% if Raduno.exists?(email: current_user.email) %>
                        <% Raduno.all.each do |raduno| %>
                            <% if raduno.email == current_user.email %>
                                <div class="box" id="raduni">
                                    <p>Descrizione: <%= raduno.descrizione %></p>
                                    <p>Data: <%= raduno.data %></p>
                                    <p>Orario: <%= raduno.orario.strftime("%H:%M") %></p>
                                    <p>Luogo: <%= raduno.luogo %></p>
                                    <div class="funzioni">
                                        <button onclick="window.location.href='<%= edit_raduno_path(raduno) %>'" class="funzioni-btn">Modifica</button>
                                        <!--<%= link_to 'Modifica', edit_raduno_path(raduno), class: 'funzioni-btn' %>-->
                                        <button class="funzioni-btn" onclick="deleteRaduno(<%= raduno.id %>)">Elimina</button> 
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    <% else %>
                        <div class="vuoto">
                            <p class="default">Nessun raduno creato</p>
                        </div>
                    <% end %>
                <% else %>
                    <div class="vuoto">
                        <p class="default">Non puoi ancora creare raduni</p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</body>