<%= stylesheet_link_tag 'form' %>

<%= form_with(model: event, id: 'partecipa-form') do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="centro">
    <div style="font-size: 17px; font-weight: bold;">Verrai iscritto al Raduno con questa email:</div>
    <div class="field" style="margin-top: 10px;">
      <%= form.text_field :email_partecipante, class: "testo", value: current_user.email, readonly: true, style: "text-align: center;" %>
    </div>

    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>


    <div class="field" style="display: none">
      <%= form.label :id_raduno, style: "display: block" %>
      <%= form.number_field :id_raduno, value: params[:id_raduno], readonly: true %>
    </div>

    <br>
    <div style="font-size: 20px; font-weight: bold;">Iscrivendoti confermi di voler ricevere notifiche sul Raduno stesso</div>
    <div style="cursor: pointer;">
      <%= form.submit 'Iscriviti', class: "bottone" %>
    </div>

    <!--Una volta fatta la form.submit bisogna mandare la mail per fare questo:-->
    <!--Il Fan che si è iscritto al Raduno correttamente riceve una mail(stessa usata per il login) con le informazioni di conferma per la partecipazione-->
    <!--l'email a cui mandare è current_user.email e il corpo del testo è:-->
    <!-- "Ciao <%= current_user.email %>, ti sei iscritto correttamente numero <%= params[:id_raduno] %>!"-->
  <div>
<% end %>
