<h1>Event#deletion</h1>

<p>
Brutte notizie <%= @user.name %>! <br>
Purtoppo l'evento di <%= @raduno.nome_darte_organizzatore %> in <%= @raduno.luogo %> il <%= @raduno.data %> alle <%= @raduno.orario %> è stato cancellato proprio adesso. <br>
Ci dispiace della mancanza, sicuramente ci saranno nuove occasioni a cui partecipare organizzate da <%= @raduno.nome_darte_organizzatore %>. <br>
</p>
