<h1>Eliminazione evento</h1>

<p> Brutte notizie <%= @user.name %>! <br>
Purtoppo l'evento di <%= @raduno.nome_darte_organizzatore %> in <%= @raduno.luogo %> del <%= @raduno.data %> alle ore <%= @raduno.orario.strftime("%H:%M") %> con descrizione: <%= @raduno ? @raduno.descrizione : 'Descrizione Raduno ignoto' %> è stato cancellato. <br>
Un caro saluto, a presto! </p>
